{% include 'sitio/cabecera.html' %}
<div class="p-5 bg-light">
  <div class="container">
    <div class="search">
      <form method="GET" action="/buscar">
        <input type="text" name="query" placeholder="Buscar un libro..." />
        <input type="submit" value="Buscar" />
      </form>
    </div>

    <section class="padding">
      <div class="container padding">
        <hr class="hr" />

        <h2 class="padding">Libros más descargados</h2>
        <iframe
          width="100%"
          height="450"
          src="https://www.youtube.com/embed/0GRryy58bn0?si=7HiSLiIfJFSOoHEY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <ul class="libros"></ul>
      </div>

      <div class="clear padding"></div>

      <div class="info">
        <div class="container">
          {% if 'usuario' in session and session['usuario']['rol'] == 2 %}
            <h1 class="display-3">Bienvenid@ {{ session['usuario']['nombre'] }}</h1>
          {% else %}
            <h1 class="display-3">Bienvenid@</h1>
          {% endif %}
          <p class="lead">Empezar con nuestro sitio web</p>
          <hr class="my-2" />

          <p class="lead">
            <a class="btn btn-success btn-lg" href="/libros" role="button">Ver libros disponibles</a>
            {% if 'usuario' in session %}
              <a class="btn btn-primary btn-lg" href="/mis_descargas" role="button">Descargas</a>
            {% endif %}
          </p>

          <div class="espacio"></div>
          <h1>¿Cómo Funciona?</h1>
          <p class="center">
            Descargá tu libro en línea y lo tendrás inmediatamente en tu
            dispositivo. Tendrás 15 días para leerlo, luego ingresaremos a tu
            dispositivo por fuerza bruta y lo borraremos porque es re contra
            ilegal.
          </p>
          <a class="btn btn-success btn-lg" href="/nosotros" role="button">Sobre nosotros</a>
        </div>
      </div>

      <div class="clear"></div>

      <div class="container padding">
        <div class="espacio"></div>

        <h2>Recomendados</h2>

        <ul class="libros"></ul>

        <hr />

        <h2 class="padding">Editoriales Favoritas</h2>

        <ul class="editoriales"></ul>
      </div>
    </section>
  </div>
</div>
<div class="espacio"></div>
{% include 'sitio/pie.html' %}
