{% include 'sitio/cabecera.html' %}
<div class="p-5 bg-light">
  <div class="container">
    <div class="search">
      <form method="GET" action="/buscar">
        <input type="text" name="query" placeholder="Buscar un libro..." />
        <input type="submit" value="Buscar" />
      </form>
    </div>

    <section class="padding">
      <div class="container padding">
        <hr class="hr" />
       
        <h2 class="display-3" style="font-size: 26px;">Bienvenid@ </h2>
        <iframe
          width="100%"
          height="450"
          src="https://www.youtube.com/embed/0GRryy58bn0?si=7HiSLiIfJFSOoHEY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <ul class="libros"></ul>
      </div>

      <div class="clear padding"></div>

      <div class="info">
        <div class="container">
          {% if 'usuario' in session and session['usuario']['rol'] == 2 %}
            <h1 class="display-3">Bienvenid@ {{ session['usuario']['nombre'] }}</h1>
          {% else %}
           
          {% endif %}
          <p class="lead">Empezar con nuestro sitio web</p>
          <hr class="my-2" />

          <p class="lead">
            <a class="btn btn-success btn-lg" href="/libros" role="button">Ver libros disponibles</a>
            
          </p>

          <div class="espacio"></div>
          <h1>¿Cómo Funciona?</h1>
          <p class="center">
            Descargá tu libro en línea y lo tendrás inmediatamente en tu
            dispositivo. Tendrás 15 días para leerlo, luego ingresaremos a tu
            dispositivo por fuerza bruta y lo borraremos porque es re contra
            ilegal.
          </p>
          <a class="btn btn-success btn-lg" href="/nosotros" role="button">Sobre nosotros</a>
        </div>
      </div>

      <div class="clear"></div>

      <div class="container padding">
        <div class="espacio"></div>

        <h2 class="padding">Librerías</h2>
        <div class="carousel-container">
          <div class="carousel-slide">
            <img src="img/cuspide.png" alt="Imagen 1">
          </div>
          <div class="carousel-slide">
            <img src="img/yenny.png" alt="Imagen 2">
          </div>
          <div class="carousel-slide">
            <img src="img/ateneo.png" alt="Imagen 3">
          </div>
          <div class="carousel-slide">
            <img src="img/cuspide.png" alt="Imagen 1">
          </div>
          <div class="carousel-slide">
            <img src="img/yenny.png" alt="Imagen 2">
          </div>
          <div class="carousel-slide">
            <img src="img/ateneo.png" alt="Imagen 3">
          </div>
          <!-- Agrega más slides según necesites -->
        
        </div>
        
        <script src="script.js"></script>

        <ul class="editoriales"></ul>
      </div>
    </section>
  </div>
</div>
<div class="espacio"></div>

{% include 'sitio/pie.html' %}

<script>
  let slideIndex = 0;
showSlides();

function showSlides() {
  let slides = document.getElementsByClassName("carousel-slide");
  for (let i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 3000); // Cambia cada 3 segundos
}

document.querySelector(".prev-btn").addEventListener("click", () => {
  slideIndex--;
  showSlides();
});

document.querySelector(".next-btn").addEventListener("click", () => {
  slideIndex++;
  showSlides();
});
</script>
