{% include 'sitio/cabecera.html' %}

<section className="padding">
          <div className="container padding">
            <div class="search">
                <form method="GET" action="/buscar">
                  <input type="text" name="query" placeholder="Buscar un libro..." />
                  <input type="submit" value="Buscar" />
                </form>
              </div>
            <hr className='hr' />
            
            <h2 className="padding">Libros disponibles</h2>
	</div>
</section>
    <div class="row">
        {% for libro in libros  %}
        <div class="col-md-3">
            <div class="card" style="min-height: 32rem;">
                <img class="card-img-top" src="/img/{{ libro[2] }}" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">{{ libro[1] }}</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-success" href="{{ libro[3] }}" role="button">Descargar</a>

                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

        
        
    <div class="espacio">
	</div>


{% include 'sitio/pie.html' %}