{% include 'sitio/cabecera.html' %}

<section className="padding">
    <div className="container padding">
      <hr className='hr' />

      <h2 className="padding">Sobre Nosotros</h2>
</div>
</section>

    
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/UdPtYskXXGI?si=N9oYQPGOa_zDzwRd" title="YouTube video player" frameBorder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowFullScreen></iframe>
    <ul className="libros">
          <div class="row">
        {% for libro in libros  %}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/img/{{ libro[2] }}" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">{{ libro[1] }}</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-success" href="{{ libro[3] }}" role="button">Descargar</a>

                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </ul>

  <div class="card-body">
    <h2 className="padding"><strong>El Team</strong></h2>
	  
	  <hr></hr>
	  
    <h3>Facundo diaz - El artista</h3>	
	<p className="justify">Es el líder de la banda y se destaca por su astucia y liderazgo. Es el cerebro detrás del plan del robo y toma decisiones clave para ejecutarlo con éxito. Tiene carisma y capacidad para resolver problemas de forma creativa.</p>
	<h3>Juan Manuel Vrech - El actor</h3>	  
    <p className="justify">Es un miembro técnico del grupo, experto en sistemas de seguridad y electrónica. Su habilidad con la tecnología es crucial para desactivar alarmas y sortear obstáculos durante el robo. Aporta una perspectiva técnica invaluable al equipo.</p>
	<h3>Santiago Magliano - El hampón</h3>	
	<p className="justify">Cumple un rol fundamental en la planificación y ejecución del robo. Aporta su ingenio y capacidad de organización para coordinar diferentes aspectos del plan. Su presencia agrega diversidad al grupo y demuestra su valía en situaciones de alto riesgo.</p>
	<h3>Facundo Balmaceda - El Ingeniero</h3>	  
    <p className="justify">Es otro integrante importante, con experiencia en robos anteriores. Aporta su conocimiento del mundo del crimen y su habilidad para manejarse en situaciones peligrosas. Su presencia aporta un aura de misterio y tensión al equipo.</p>  
    </div>
<div class="espacio">
</div>

{% include 'sitio/pie.html' %}