<!doctype html>
<html lang="en">
  <head>
    <title>UBP Libros</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
	<link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">

  </head>
  <body>
	<div class="logo"><a href="/"><img src="/img/w-Logo.png" width="200px" height="88px" alt="DescargaLibros.Com" /></a></div>   
    <nav class="navbar navbar-expand navbar-dark bg-primary" style="background-color: #232f3e !important; justify-content: center !important;">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" href="/admin/">Inicio </a>
            <a class="nav-item nav-link" href="libros">Libros</a>
            <a class="nav-item nav-link" href="/">Cerrar</a>
            <!--<a class="nav-item nav-link" href="/">Sitio web </a>-->
        </div>
    </nav>